body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}


.legend {
    line-height: 18px;
    color: #555;
    width: 100%;
}

.legend i {
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}